$card-background-color: #fff;
$card-border: 1px solid black;
$card-height: 8rem;
$card-margin: 1rem 1rem 1rem 0;
$card-padding: 9px;
$card-width: 10rem;
$card-color: #272727;

$title-font: Roboto, san-serif;
$title-color: #000;
$title-font-size: 17px;
$title-font-weight: 700;

$content-font: Roboto, sans-serif;
$content-size: .8em;
$content-height: 100px;
$content-font-weight: 700;
$content-border-radius: 0 0 2px 2px;

$banner-height: 80px;
$banner-learning-color: #47EFB4;
$banner-html-color: #47C8EF;
$banner-css-color: #636CEF;
$banner-js-color: #211A9B;
$banner-tools-color:#9022CD;

